body {
  background-color: #f7f7f7;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
  position: relative;
}
@media (max-width: 800px) {
  body {
    padding: 0;
  }
}

figure {
  margin-bottom: 1.45rem;
  padding: 1rem !important;
  border: 1px solid #c4c4c4;
}

@media (max-width: 800px) {
  figure {
    padding: 0;
    border: 0;
  }
}
figcaption {
  font-style: italic;
  color: #e64946;
  text-align: center;
  padding-top: 1rem;
}
